/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    01. Border Radius ( 10 : 100 )
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@for $i from 1 through 10 {
    .radius-#{$i*10}{
        border-radius: #{$i*10}px !important;
    }
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    02. Opacity ( 10 : 100 )
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@for $i from 1 through 10 {
    .opacity-#{$i*10}{
        opacity: #{$i/10} !important;
    }
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    03. Margins
---------------------------------------------------------------------------------------------------------------------------------------------------- */
@for $i from 1 through 10 {
    .mt-#{$i*10}{
        margin-top: #{$i*10}px !important;
    }
}

@for $i from 1 through 10 {
    .mb-#{$i*10}{
        margin-bottom: #{$i*10}px !important;
    }
}


/* ----------------------------------------------------------------------------------------------------------------------------------------------------
    04. General Styles
---------------------------------------------------------------------------------------------------------------------------------------------------- */
.card_block {
    background-color: #fff;
    border-radius: 10;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid $gary;
}

.main-title{
    text-align: center;
    color: $dark-blue;
    font-size: 18px;
    font-weight: 500;
}

.link--orange {
    color: $orange;
    &:hover{
        color: $orange;
        opacity: 0.6;
    }
}

.link--dark {
    color: $dark-blue;
    &:hover{
        color: $dark-blue;
        opacity: 0.6;
    }
}

.title-1{
    color: $dark-blue;
    font-size: 16px;
    font-weight: 500;
}

.paragraph{
    color: $dark-blue;
    font-size: 14px;
}

.border-left{
    border-left: 1px solid #dee2e67d !important;
}

.progress{
    background-color: $secondary-gray;
    border: 5px solid #fff;
    border-radius: 15px;
}

.progress-bar{
    border-radius: 15px;
    height: 5px;
}

.steps {
    margin-top: -32px;
}

.step{
    background-color: #fff;
    border-radius: 100px;
    padding: 10px 15px;
    border: 2px solid $secondary-gray;

    &.complete {
        border: 2px solid #0070F9;
    }

    &__img{
        width: 15px;
        height: 15px;

        &.complete {
            fill: red;
        }
    }
}